<div class="container">

  <div class="input-box">
    <input *ngIf="expression.length > 0" type="text" class="user-input" placeholder="{{ expression }}" readonly>
    <input *ngIf="expression.length === 0" type="text" class="user-input" placeholder="0" readonly>
    <h3 class="result">{{ result }}</h3>
  </div>
  <div class="btns-box">
    <button class="with-bg-btn" id="ac" (click)="clearExpression()">AC</button>
    <button class="with-bg-btn" id="del-btn" (click)="deleteLast()"><i class="fa-solid fa-delete-left"></i></button>
    <button class="btn with-bg-btn" (click)="addToExpression('%')">%</button>
    <button class="btn with-bg-btn" (click)="addToExpression('/')">&divide;</button>
    <button class="btn" (click)="addToExpression(1)">1</button>
    <button class="btn" (click)="addToExpression(2)">2</button>
    <button class="btn" (click)="addToExpression(3)">3</button>
    <button class="btn with-bg-btn" (click)="addToExpression('*')">x</button>
    <button class="btn" (click)="addToExpression(4)">4</button>
    <button class="btn" (click)="addToExpression(5)">5</button>
    <button class="btn" (click)="addToExpression(6)">6</button>
    <button class="btn with-bg-btn" (click)="addToExpression('-')">-</button>
    <button class="btn" (click)="addToExpression(7)">7</button>
    <button class="btn" (click)="addToExpression(8)">8</button>
    <button class="btn" (click)="addToExpression(9)">9</button>
    <button class="btn with-bg-btn" (click)="addToExpression('+')">+</button>
    <button class="btn" id="zero-button" (click)="addToExpression(0)">0</button>
    <button class="btn" (click)="addToExpression('.')">.</button>
<!--    <button class="btn" (click)="addToExpression(0)">00</button>-->
    <button class="btn with-bg-btn" (click)="calculate()">=</button>
  </div>
</div>
